/* CSS declarations go here */

td{
    padding : 4px;
    background-color:lightgrey;
    border: solid 1px lightseagreen;
    width:25px;
    height:25px;
}

.active{
    background-color:lightblue !important;
}

.valid{
    background:green !important;
}
.notValid{
    background:lightpink !important;
}

td.selected {
  background-color:yellow;
  color:red;
}

td[data-letter][data-x][data-y] {
  background-color:#fff;
  fort-weight:bold;
}
