/* CSS declarations go here */

td{
    padding : 4px;
    background-color:lightgrey;
    border: solid 1px lightseagreen;
    width:20px;
    height:20px;
}

.active{
    background-color:lightblue !important;
}

.valid{
    background:green !important;
}
.notValid{
    background:lightpink !important;
}
