<head>
  <title>mixmo</title>
</head>

<body>
     <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">Mixmo</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  {{> loginButtons}} <!-- here -->
              </ul>
          </div>
        </div>
    </nav>
    <div class="container">
      <div class="row">
        {{> entryfield}}
      </div>
      <div class="row center-block">
        <div id="game">
          {{> wordInput}}
          {{> currentWordTable}}
          {{> playground}}
        </div>
      </div>
      <hr>
      <footer>

      </footer>
    </div>
</body>


<template name="wordInput">
    {{#if inGame}}
        <button id="mixmo">mixmo !</button>
    {{/if}}
</template>

<template name="currentWordTable">
    <table id="currentWordTable" class="connectedSortable">
        <tr id="currentwordTR">
            {{#each currentWord}}
            <td id="{{_id}}" class="currentwordTds ui-widget-content">{{letter}}</td>
            {{/each}}
        </tr>
    </table>
    <br/>
</template>

<template name="playground">
  <table id="gridTable">
      <tbody >
      </tbody>
  </table>
</template>
