<head>
  <title>mixmo</title>
</head>

<body>

     <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mixmo</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}} <!-- here -->
            </ul>
        </div>
    </nav>

  {{> entryfield}}

  {{> players}}


  <div id="game">
      {{> wordInput}}
      {{> currentWordTable}}
      {{> playground}}
    </div>
</body>

<template name="entryfield">
    {{#if canShowInput}}
        <!-- <input type="text" id="name" placeholder="Login" />  -->
        <p>Connexion obligatoire pour jouer</p>
    {{else}}
        <ul>
        {{#each rooms}}
            <li>{{name}} - <button>Join</button> {{#if canDelete}}<button class="removeRoomBtn" id="{{host}}">Remove</button>{{/if}}</li>
        {{/each}}
        </ul>
        <button id="createRoom">Create room</button>
    {{/if}}
</template>

<template name="players">
    <p>
        {{#each players}}
            <label class="playerList" id="{{_id}}"><strong>{{login}}</strong>{{#if canDelete}}    X{{/if}}</label>
        {{/each}}
    </p>
</template>

<template name="wordInput">
    {{#if inGame}}
        <button id="mixmo">mixmo !</button>
        <button id="restartGame">Restart</button>
    {{else}}
        <button id="startGame">Start</button>
    {{/if}}
</template>

<template name="currentWordTable">
    <table id="currentWordTable" class="connectedSortable">
        <tr id="currentwordTR">
            {{#each currentWord}}
            <td id="{{_id}}" class="currentwordTds ui-widget-content">{{letter}}</td>
            {{/each}}
        </tr>
    </table>
    <br/>
</template>

<template name="playground">

<table id="gridTable">
    <tbody >
    </tbody>
</table>

</template>
